@charset "UTF-8";


//主色( 使用较为安全的蓝色作为主色调，其中 Light Primary 常用于 hover，Dark Primary 常用于 active。)
$Primary: #2d8cf0;
$LightPrimary: #5cadff;
$DarkPrimary: #2b85e4;

//辅助色( 辅助色是具有代表性的颜色，常用于信息提示，比如成功、警告和失败。)
$Info: #2d8cf0;
$Success: #19be6b;
$Warning: #ff9900;
$Error: #ed3f14;

//中性色( 包括：标题 、正文 、辅助/图标、失效、边框、分割线、背景 )
$Title: #292929;
$Content: #495060;
$SubColor: #80848f;
$Disabled: #bbbec4;
$Border: #e8e8e8;
$Divider: #e9eaec;
$Background: #f8f8f9;

//闭合浮动
@mixin clearfix(){
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

// 圆角
@mixin radius($px) {
  border-radius: $px;
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
}

// 倾斜
@mixin rotate($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
}

  //强制不换号文本溢出变省略号
@mixin ellipsis(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
